@media (min-width: 768px) {
  .padding_test {
    display: flex;
  }
  .container {
    max-width: 768px;
  }
  .adress {
    display: block;
  }
  .address .list {
    display: block;
  }

  .menu_button_open {
    display: none;
  }
  .first_nav {
  }

  .block_one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .menu_button_open {
    display: none;
  }
  .first_nav {
    margin-right: 332px;
  }
}
/* display: flex;
    flex-direction: column;
    justify-content: space-between; */
